<%- include("partials/header.ejs") %>
    <div class="container">
        <h1><%= cat.title %></h1>
        <figure class="show-img-container">
            <img class="show-img" src="<%= cat.image %>" alt="cat-image">
            <figcaption><%= cat.info %></figcaption>
        </figure>
        <div class="inline-buttons">
            <a class="btn btn-info margin-l" href="/cats/<%=cat._id%>/edit">EDIT</a>
            <form action="/cats/<%= cat._id %>?_method=DELETE" method="POST">
                <button class="btn btn-info margin-l" type="submit">DELETE</button>
            </form>
        </div>
    </div>
<%- include("partials/footer.ejs") %>
